**Lets get started with Strings!**<br>
"Hello" is same as "hello"
Square brackets can be used to access elements of the string:

In [3]:
teststring="""jdfljsd sdjfls sdfjsd sjlfkjsd lkdfjsdlf """
print(teststring)
str='''Hello" is same as "hello" Square brackets can be used to access elements of the string'''
print(str)

jdfljsd sdjfls sdfjsd sjlfkjsd lkdfjsdlf
Hello" is same as "hello" Square brackets can be used to access elements of the string

In [9]:
firstname="ram"
lastname="thapa"
fullname=firstname+" "+lastname
print(fullname)
print(fullname[0])
#len()
print(len(fullname))

ram thapa
r
9

In [ ]:
fname="Ayush"
print(fname)
lname="parajuli"
print(lname)

Ayush
parajuli

In [ ]:
a="Hello World!"
print(a[1])

e

**Substring**:<br>
Get the characters from position 2 to position 5 ( not included):

In [ ]:
b="Hello world!"
print(b[2:5])

llo

In [ ]:
college="the  college"
print(college)

The strip() method removed any whitespace from the beginning

The len() method returns the length of a string:

In [ ]:
a="Hello World!"
print(len(a))

12

The lower() method returns the string in lower case:

In [ ]:
word="The lower() method returns the string in lower case:"
print(len(word))

52

In [ ]:
a="Hello world!"
print(a.lower())

hello world!

The replace() method replaces a string with another string:

In [ ]:
a="Hello world!"
print(a.replace("H","j"))

jello world!

The split() method splits the string into substrings if it finds instances of the seperator:

In [ ]:
a="Hello, world hi ram how r u"
print(a.split(" ")) # returns ['Hello','World']

['Hello,', 'world', 'hi', 'ram', 'how', 'r', 'u']

In [ ]:
paragraph="The split() method splits the string , substrings if it finds instances of the seperator:"
print(paragraph.split(","))

['The split() method splits the string ', ' substrings if it finds instances of the seperator:']

**Python Collections (Arrays)**<br>
There are four collection data types in the Python programming language:<br>
list<br>
tuple<br>
set<br>
dictionary<br>

List is a collection which is ordered and changeable. Allows duplicate members.<br>
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.<br>
Set is a collection which is unordered and unindexed. No duplicate members.<br>
Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

 List**<br>
List is a collection which is ordered and changable. Allows duplicate members.
In Python lists are written with square brackets.
let's create a list:

In [10]:
stdname=["ayush","avishek","jenish","harish"]
print(stdname)
stdname[1]="piyush"
print(stdname)

['ayush', 'avishek', 'jenish', 'harish']
['ayush', 'piyush', 'jenish', 'harish']

In [ ]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

Access Items:<br>
we can access the list items by referring to the index number.
print the second item of list:

In [ ]:
thislist=["apple","banana","cherry"]
print(thislist[0])

apple

Change item Value:<br>
To change the value of a specific item, refer to the index number.
change the second item

In [ ]:
thislist=["apple","banana","cherry"]
thislist[1]="avacado"
print(thislist)

['apple', 'avacado', 'cherry']

**Range of Indexes**
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:6])

['orange', 'kiwi', 'melon']

Loop Through a List:<br>
We can loop through the list items by using a for loop.
print all item in the list, one by one.

In [ ]:
thislist=["apple","banana","cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
a=3
if a>0:
  print(" a is positive number")
b=-1
if b<0:
  print(" b is negative number")

 a is positive number
 b is negative number

In [ ]:
number=int(input("enter any number"))
if number<0:
  print("number is negative")
if number>0:
  print("number is positive")

enter any number4
number is positive

**Check** if item Exists.<br>
To determine if a specified item is present in a list use the keyword. 
check if "apple" is present in the list or not.

In [ ]:
thislist=["apple","banana","cherry"]
if "apple" in thislist:
  print("yes,'apple' is in the fruits list")

yes,'apple' is in the fruits list

WAP to take input from the user and check that item exists or not on given list.

In [ ]:
thislist=["apple","banana","cherry"]
fruits=input("enter any fruits")
if fruits in thislist:
  print("yes,'fruits' is in list")

enter any fruitsapple
yes,'fruits' is in list

List length:<br>
To determine how many items a list have, use the len() method.
print the number of items in the list:

In [ ]:
thislist=["apple","banana","cherry"]
print(len(thislist))

3

Add items:<br>
To add an item to the end of the list, use the append() mothod.
Using the append method to append an item:

In [ ]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method.
Insert an item as the second position.

In [ ]:
thislist=["apple","banana","cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Remove Item:<br>
There are several methods to remove items from a list.
The remove() method removes the specified item.

In [ ]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The pop() method removed the specified index,(or the last item if index is not specified):

In [ ]:
thislist=["apple","banana","cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

the del keyword removed the specified index:

In [ ]:
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely:

In [ ]:
thislist=["apple","banana","cherry"]
del thislist
print(thislist) # this will cause an error beacuse " thislist" no longer exists

The clear() method empties the list:

In [12]:
thislist=["apple","banana","cherry"]
thislist.clear()
print(thislist)

[]

The list() Constructor:
it is also possible to use the list() constructor to make a list.
Using the list() constructor to make a list.

In [ ]:
thislist=list(("apple","banana","cherry"))

**List Methods**
Python has a set of built-in methods that you can use on lists.<br>
**Method	                        Description**<br>
append()	             Adds an element at the end of the list<br>
clear()	              Removes all the elements from the list<br>
copy()	              Returns a copy of the list<br>
count()	              Returns the number of elements with the specified value
extend()          	Add the elements of a list (or any iterable), to the end of the current list<br>
index()	            Returns the index of the first element with the specified value<br>
insert()	         Adds an element at the specified position<br>
pop()	             Removes the element at the specified position<br>
remove()       	Removes the item with the specified value<br>
reverse()     	Reverses the order of the list<br>
sort()	        Sorts the list

**Python Tuples**<br>
A tuple is a collection which is ordered and unchangable. In python tuples are written with round brackets
Create ta Tuple:

In [ ]:
thistuple=("apple","banana","cherry")
thistuple.insert(1,"hello")
print(thistuple)

AttributeError: ignored

Access Tuples Items:<br>
We can access tuple items by referring to the index number, inside sqare brackets. Create a Tuple:

In [ ]:
thistuple=("apple","banana","cherry")
print(thistuple)

Access Typle Items:<br>
We can access tuples items by referring to the index number, inside square brackets.
Return the item in position 1:

In [ ]:
thistuple=("apple","banana","cherry")
print(thistuple[1])

ONce a tuple is created we cannot change tuple values.

Loopt Through a Tuple:<br>
We can loop through the tuple items by using a for loop.
iterate through the items and print the values.
**bold text**

In [ ]:
thistuple=("apple","banana","cherry")
for x in thistuple:
  print(x)

Check if item Exists:<br>
To determine if a specified item is present in a tuple use the in keyword
check if "apple" is present in the tuple:

In [ ]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
  print("yes,'apple' is in the fruits tuple")

Check if "banana" in present in the set:

In [ ]:
thisset={"apple","banana","cherry"}
print("banana" in thisset)

**Tuple Methods**
Python has two built-in methods that you can use on tuples.<br>
Method	Description<br>
count()	Returns the number of times a specified value occurs in a tuple<br>
index()	Searches the tuple for a specified value and returns the position of where it was found

**Set**<br>
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets

In [ ]:
thisset={"apple","banana","cherry"}
print(thisset)

**Access Items**<br>
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset[1])

{'apple', 'banana', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

**Change Items**:<br>
Once a set is created, we cannot change its items, but we can add new items.
**Add Items**:<br>
To add one item to a set use the add() method.<br>
To add more than one item to a set use the update() method<br>
Add an item to a set, using the add() method:

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

Add multiple items to a set, using update() method:

In [ ]:
thisset={"apple","banana","cherry"}
thisset.update(["orange","mango","grapes"])
print(thisset)

{'apple', 'mango', 'banana', 'grapes', 'cherry', 'orange'}

**Remove Item:**<br>
To remove an item in a set, use the remove(), or the discard() method.
Remove "banana" by using the remove() method.

In [ ]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

remove() method returns error if item does not exists<br>
discard() method doesn't return error<br>
pop() method removes and last item <br>
clear() method empties the set

In [ ]:
thisset={"apple","banana","cherry"}
x=thisset.pop()
# thisset.clear()
# thisset.discard("banana")
print(thisset)

**Join Two Sets**<br>
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

**Set Methods**<br>
Python has a set of built-in methods that you can use on sets.<br>

Method	Description<br>
add()	Adds an element to the set <br>
clear()	Removes all the elements from the set<br>
copy()	Returns a copy of the set<br>
difference()	Returns a set containing the difference between two or more sets<br>
difference_update()	Removes the items in this set that are also included in another, specified set<br>
discard()	Remove the specified item<br>
intersection()	Returns a set, that is the intersection of two other sets<br>
intersection_update()	Removes the items in this set that are not present in other, specified set(s)<br>
isdisjoint()	Returns whether two sets have a intersection or not<br>
issubset()	Returns whether another set contains this set or not<br>
issuperset()	Returns whether this set contains another set or not<br>
pop()	Removes an element from the set<br>
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

**Dictionary**<br>
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
x = thisdict.get("model")  #There is also a method called get() that will give you the same result:

Mustang

**Change Values**<br>
You can change the value of a specific item by referring to its key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

**Loop Through a Dictionary**
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
for x in thisdict:
  print(x)

In [ ]:
#Print all values in the dictionary, one by one:

for x in thisdict:
  print(thisdict[x])

In [ ]:
#You can also use the values() function to return values of a dictionary:

for x in thisdict.values():
  print(x)

In [ ]:
#Loop through both keys and values, by using the items() function:

for x, y in thisdict.items():
  print(x, y)

In [ ]:
""" Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

Example
Check if "model" is present in the dictionary:"""

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
"""Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

Example""" 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

**Removing Items**<br>
There are several methods to remove items from a dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
#The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
#The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
#The clear() keyword empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
#Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

**Nested Dictionaries**<br>
A dictionary can also contain many dictionaries, this is called nested dictionaries

In [ ]:
#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
#Create three dictionaries, than create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

**Dictionary Methods**<br>
Python has a set of built-in methods that you can use on dictionaries.<br>

**Method	Description**<br>
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary